<div class="cache">
  <div id="infojoueur">
  <i class="fa fa-times" id="quit" aria-hidden="true"></i>
    ENTER YOUR USERNAME <br>TO JOIN THE LEADERBOARD<br> 
    <div class="msg">If you have already played the game before you can use the same username, otherwise pick another one please</div>
    <div class="warning"></div><input class="user" id="nom-joueur" type="text">
    <button class="usersend" id="submit_player_name">SUBMIT</button>    
  </div>
</div>

<button id="go-back" data-cible="start">GO BACK</button>
<div class="move">0</div>
<div class="chronometre">
  <div class="tim">
    <!-- <span >0 min</span> : -->
    <span >0 s</span>

  </div>
  <button id="start" >Start</button>
  <button id="stop" >Stop</button>
  <button id="reset" >Reset</button>
</div>


	<div class="resultat flex-center">
   		<div class="text"></div>
   		<button class="plateau" id="restart" data-level="medium">RESTART</button>
   		<button id='forward' class="plateau" data-level="hard">HARD</button>
      <button data-php="board" id="board_access">LEADERBOARD</button>
   </div>
      <div class="ground_medium">
   <div id="matrice"></div>  
   </div>
   

   

