<nav id="nav_main" class="nav">
    <ul id="nav_start" class="list">
        <li data-level="easy" class="item">EASY</li>
        <li data-level="medium" class="item">MEDIUM</li>
        <li data-level="hard" class="item">HARD</li>
        <li data-cible="home" id="main_menu">HOME</li>
    </ul>
</nav>
<div class="move">0</div>
<div class="chronometre">
  <div class="tim">
    <!-- <span >0 min</span> : -->
    <span >0 s</span>

  </div>
  <button id="start" >Start</button>
  <button id="stop" >Stop</button>
  <button id="reset" >Reset</button>
</div>


<div class="resultat flex-center">
   		<div class="text"></div>
   		<button class="plateau" id="restart">RESTART</button>
   		<a href="lvl2.html"><button id='lvl2' class="plateau">MEDIUM</button></a>
   </div>
<div class="ground_easy">
<div id="matrice"></div>

</div>
